%aside.editors
  %header.aside-title
    %h3 Editors

  %ul
    - Editor.all_with_posts_count.each do |editor|
      %li
        = link_to editor.name, editor_posts_path(editor.id)
        = "(#{editor.posts_count})"
