/* GRID BEGIN */
.left
  float: left
  width: 520px

.right
  float: right
  margin-left: 40px
  width: 340px

/* GRID END */


/* FOOTER BEGIN */
.footer
  height: 20px
  margin-top: 30px

  .copyright
    float: left

  nav
    float: right

    ul
      +horizontal-list(6px)
/* FOOTER END */


.posts_excerpt
  article
    margin: 20px 0
    padding: 10px 0
    border-bottom: 1px dashed #CCC

    h4
      margin: 0 0 5px 0
      font-size: 1.1em

    p
      margin: 0

    time
      display: block
      padding-top: 10px
      font-size: 0.9em
      font-weight: bold
      font-style: italic

.posts
  width: 650px
  float: left
  margin-right: 20px
  overflow: hidden

article.post
  width: 650px
  float: left
  margin-bottom: 35px

  ul
    li
      list-style: disc outside none
      padding-bottom: 5px

  h3
    margin-bottom: 1em

  header
    background: $light-gray
    +border-radius(10px)
    +box-shadow(#999 1px 2px 3px)
    margin-bottom: 15px
    padding: 5px 15px
    overflow: hidden
    height: 50px


    .gravatar
      float: left
      width: 50px
    .meta
      margin-left: 10px
      float: left
      width: 560px
      line-height: 22px

      h2
        font-size: 24px
      div
        margin-top: 2px
        padding-top: 3px
        text-transform: uppercase
        font-size: 11px
        font-weight: bold
        color: #888

        .tags
          border-left: 2px solid #CCC
          margin: 0 10px
          padding: 0 10px
        time
          border-left: 2px solid #CCC
          margin-left: 10px
          padding-left: 10px

        span
          word-spacing: 3px
  section
    border-bottom: 1px solid #CCC
    padding: 10px 5px

.posts_filter
  margin: 5px 0 20px
  font-style: italic

.aside
  float: right
  width: 205px


aside
  float: right
  width: 205px

  h3
    margin: 0 0 15px 20px
  ul
    li
      margin: 3px 0

.editors
  margin-top: 20px

.comments
  width: 650px

  h3
    margin-bottom: 20px

  ol
    margin: 0

    li
      border-bottom: 1px dashed #CCC
      margin: 20px 0 30px
      padding-bottom: 5px
      overflow: hidden

      .author
        float: left
        width: 60px

      time
        margin: 5px 0
        text-align: right
        float: right
        width: 590px

      .content
        float: right
        width: 580px
        margin-left: 10px

.comment_form
  h3
    margin-bottom: 1em

.all_tags
  margin: 35px 0 0

  .content
    margin-top: 5px
    padding: 5px
    word-spacing: 4px

  .t1
    font-size: 12px
  .t2
    font-size: 15px
  .t3
    font-size: 18px
  .t4
    font-size: 21px
  .t5
    font-size: 24px

label
  font-weight: bold
  margin-bottom: 3px
  float: left
  display: inline-block
  width: 100px

span.field_notice
  display: block
  padding-left: 100px
  color: #666
  font-size: 10px

.fieldWithErrors
  padding: 2px
  background-color: red
  display: table

form
  div
    margin: 5px 0 10px
  span.field_with_errors
    input, textarea
      border: 1px solid red

input, textarea
  +border-radius(3px)
  border: 1px solid #CCC
  padding: 3px
  &:hover, &:focus, &:active
    +box-shadow(#ccc 0 0 5px)
    border: 1px solid #CCC

input[type=submit]
  cursor: pointer
  font-size: 12px
  font-weight: bold
  padding: 6px 12px
  text-transform: uppercase
  +border-radius(7px)
  +box-shadow(#666 1px 3px)

input[type=submit]:hover, input[type=submit]:focus, input[type=submit]:active
  +box-shadow(#666 1px 3px)

.submit
  margin-left: 100px

.syntaxhighlighter
  padding: 10px 0


/* PAGINATION BEGIN */

.pagination a, .pagination span, .pagination em
  padding: 2px 5px
  margin-right: 5px
  display: block
  float: left
  border-style: solid
  border-width: 1px

.pagination em
  font-weight: bold

.pagination a
  text-decoration: none

.pagination a, .pagination span
  -moz-border-radius: 3px
  border: 1px solid #CCC

.pagination em
  background: #36393d
  color: #FFF
  border: 1px solid #36393d

.pagination a
  color: #1a1a1a

.pagination a:hover
  border: 1px solid #666

/* PAGINATION END */

/* FLASH BEGIN */
#error_explanation
  margin: 20px

  p
    margin: 0 10px 0

.notice, .error
  padding: 2px 10px
  margin: 10px 0
  color: #FFF
  p
    margin: 0

.notice
  background-color: #0c3
  border: 3px solid green

.error, .recaptcha_error
  background-color: #c00
  border: 3px solid red

#recaptcha_widget_div
  margin-left: 100px

.recaptcha_error
  display: none
/* FLASH END */
