body
  font-size: 13px
  line-height: 18px
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif
  font-weight: 400

  a
    color: $primary
    +transition(opacity 0.2s ease)

    &:hover
      +opacity(0.8)

  p
    line-height: 1.5em
    margin-bottom: 1.5em
    color: #444


  .left
    float: left
    width: 580px

  .right
    float: right


  .container
    width: 900px
    margin: 30px auto
    overflow: hidden

  section.about
    margin-bottom: 20px
    p
      margin: 0

.header
  height: 76px
  margin: 0
  background: url(image_path('header_bg.png'))

  .wrapper
    width: 900px
    margin: 0 auto
    overflow: hidden
    padding: 15px

  .logo a
    color: #FFF
    text-decoration: none
    display: inline-block
    +oswald(42px, 400)
    line-height: 46px

  nav
    float: right
    margin: 20px 0 0 0

    ul
      +horizontal-list(6px)

.footer
  height: 20px
  width: 900px
  margin: 10px auto

  .copyright
    float: left

  nav
    float: right

    ul
      +horizontal-list(6px)

.aside
  float: right
  margin: 50px 0
  width: 250px

  aside

    &.archive
      margin-bottom: 46px
      min-height: 172px

    header.aside-title
      position: relative

    h3
      color: $primary
      margin-bottom: 10px
      height: 40px
      // background: $primary
      // padding-left: 12px
      +oswald(24px, bold)
      line-height: 40px


  ul
    li
      margin: 4px 0

  .editors
    margin-top: 20px

  .calendar
    margin-bottom: 30px

    #calendar
