.wrapper
  %small.copyright
    Copyright &copy; 2009 - #{Date.today.year} ruby.mk

  %nav
    %ul
      %li= link_to 'RSS', posts_path(:format => 'rss')
      %li= link_to 'Twitter', 'https://twitter.com/mk_rug', :target => '_blank'
      %li= link_to 'Mailing List', 'http://groups.google.com/group/mk-ruby-users-group/', :target => '_blank'
