.wrapper
  %small.copyright
    Copyright &copy; #{Date.today.year} ruby.mk

  %nav
    %ul
      %li= link_to 'Twitter', 'https://twitter.com/mk_rug', :target => '_blank'
      %li= link_to 'Mailing List', 'http://groups.google.com/group/mk-ruby-users-group/', :target => '_blank'
      %li= link_to 'LinkedIn Group', 'http://www.linkedin.com/groups?gid=2199541', :target => '_blank'
