= javascript_include_tag "application"
-# = javascript_include_tag 'jquery-1.4.4.min.js', 'jquery.timeago', 'jquery.autolink', 'jquery.tweets', 'syntaxhighlighter/shCore', 'syntaxhighlighter/shBrushDiff.js', 'syntaxhighlighter/shBrushPlain.js', 'syntaxhighlighter/shBrushRuby', 'syntaxhighlighter/shBrushBash.js', 'syntaxhighlighter/shBrushCss.js', 'syntaxhighlighter/shBrushSass.js', 'syntaxhighlighter/shBrushJScript.js', 'syntaxhighlighter/shBrushXml.js', 'rails', 'plugins', 'application', :cache => 'application_cached'

/[if lt IE 7 ]
  :javascript
    $.getScript("/javascripts/dd_belatedpng.js",function(){ DD_belatedPNG.fix('img, .png_bg'); });

-#  Append your own using content_for :javascripts
= yield :javascripts

= render 'shared/google_analytics'
